/*!
 * Built with care by Namanyay Goel
 *                _                            
 *  ____         | |_      _____         _     
 * |    \ ___ ___|_| |_   |  _  |___ ___|_|___ 
 * |  |  | . |   | |  _|  |   __| .'|   | |  _|
 * |____/|___|_|_| |_|    |__|  |__,|_|_|_|___|
 * 
 * 
 * Uncompressed file available at main.scss.
 *                                                
 */


@font-face {
  font-family: 'nommy';
  src:url('../fonts/nommy.eot');
  src:url('../fonts/nommy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nommy.woff') format('woff'),
    url('../fonts/nommy.ttf') format('truetype'),
    url('../fonts/nommy.svg#nommy') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-chat-3, .icon-lab, .icon-files, .icon-checkbox-checked, .icon-twitter, .icon-github, .icon-mail, .icon-google-plus, .icon-dribbble, .icon-list {
  font-family: 'nommy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-chat-3:before {
  content: "\e002";
}
.icon-lab:before {
  content: "\e003";
}
.icon-files:before {
  content: "\e004";
}
.icon-checkbox-checked:before {
  content: "\e005";
}
.icon-twitter:before {
  content: "\e001";
}
.icon-github:before {
  content: "\e000";
}
.icon-mail:before {
  content: "\e006";
}
.icon-google-plus:before {
  content: "\e007";
}
.icon-dribbble:before {
  content: "\e008";
}
.icon-list:before {
  content: "\e009";
}





/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-font-smoothing: antialiased;
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
    max-width: 100%;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}







/* ==========================================================================
   
    LET'S GET STARTED!

   ========================================================================== */


/* ==========================================================================
   =VARIABLES
   ========================================================================== */

$primColor: #e84a11;
$secColor: #2b435e;

$tertiaryColor: #f2f1ec;
$tertiaryColor-darker: darken($tertiaryColor, 10%);
$tertiaryColor-dark: darken($tertiaryColor, 5%);

$mainTextColor: mix(mix($tertiaryColor, #000), #444);
$lightTextColor: mix($tertiaryColor, #666);
$darkerTextColor: mix($mainTextColor, #222);

$primFontFamily: 'Varela Round', sans-serif;
$primFontWeight: 300;
$primFontColor: #222;

$secFontFamily: 'Lato', sans-serif;
$secFontWeight: 400;


$alternateSectionBg: $tertiaryColor-dark;


/*! Sympl.css v3.0.0 sympl.namanyayg.com | 
Namanyay Goel | www.namanyayg.com | @namanyayg */

/*** =CORE ***/

body {
  margin: 0; padding: 0;
}

/* Remember to use normalize or a reset! */

body, input, textarea, button, form, select {
  font: $secFontWeight 112.5%/1.5 $secFontFamily;
  color: $mainTextColor;
  background: $tertiaryColor;
  -webkit-text-stroke: .2px;
  /* Inputs, forms, etc, can have weird font styles */
}

a, a:visited { 
  text-decoration: none;
  color: inherit;
  border-bottom: thin solid $primColor;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover, a:active, a:focus {
  border-bottom-color: rgba($primColor, 0);
  color: $primColor;
}

::selection {
  background: $primColor;
  color: white;
}

::-moz-selection {
  background: $primColor;
  color: white;
} 

.wrap {
  width: 70em;
  max-width: 90%;
  margin: 0 auto;
}


/*** =TYPOGRAPHY ***/

p { margin: 0; }
p + p { margin-top: 1.5em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
    /* Set defaults for all headings here, 
    you might want to change fonts or sizes */
    font-family: $primFontFamily;
    font-weight: $primFontWeight;
    color: $secColor;
}

h1 {
    font-size: 1.5em;
    line-height: 1.5;
    margin: .375em 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: .5em 0;
}

h3 {
    font-size: 1.25em;
    line-height: 1.2;
    margin: .6em 0;
}

h4 {
    font-size: 1.125em;
    line-height: 1.333333;
    margin: .666666em 0;
}

h5, h6 { 
    font-size: 1em;
    line-height: 1.5;
    margin: .75em 0;
    text-transform: uppercase;
}


/*** =GRID ***/

.stack {
  /* A set of grid items must be in a stack.
  Use sympl-stack when you want a margin at the bottom */
  clear: both;
  margin: 0 0 0 -1.5em;
}

.stack-sympl {
  padding-bottom: 1.5em;
}

.stack-clean { padding-bottom: 0; padding-top: 1.5em; }
.stack-clean .sympl { padding-bottom: 1.5em; }

.sympl {
  /* Each grid item should have the sympl class, along with at least one class for size */
  float: left;
  padding: 0 0 0 1.5em;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.stack:before,
.stack:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.stack:after {
    clear: both;
}

.half, .twoquarters, .threesixths { width: 50%; }

.onethird, .twosixths { width: 33.333333%; }
.twothirds, .foursixths { width: 66.666666%; }

.quarter { width: 25%; }
.three-quarters { width: 75%; }

.onefifth { width: 20%; }
.twofifths { width: 40%; }
.threefifths { width: 60%; }
.fourfifths { width: 80%; }

.onesixth { width: 16.666666%; }
.fivesixths { width: 83.333333%; }

/* L stands for large. L styles get triggered at 60em, that is, 960px */

@media (max-width: 60em) {
    .l-half, .l-twoquarters, .l-threesixths { width: 50%; }

    .l-onethird, .l-twosixths { width: 33.333333%; }
    .l-twothirds, .l-foursixths { width: 66.666666%; }

    .l-quarter { width: 25%; }
    .l-three-quarters { width: 75%; }

    .l-onefifth { width: 20%; }
    .l-twofifths { width: 40%; }
    .l-threefifths { width: 60%; }
    .l-fourfifths { width: 80%; }

    .l-onesixth { width: 16.666666%; }
    .l-fivesixths { width: 83.333333%; }

    .hide-l-and-below { display: none; visibility: hidden; }
    .show-l-and-below { display: block; visibility: visible; }
}

@media (max-width: 60em) and (min-width: 45em) {
    .hide-on-l { display: none; visibility: hidden; }
    .show-on-l { display: block; visibility: visible; }
}

/* M stands for medium. M styles get triggered at 45em, that is, 720px */

@media (max-width: 45em) {
    .m-full { width: 100%; }

    .m-half, .m-twoquarters { width: 50%; }

    .m-onethird { width: 33.333333%; }
    .m-twothirds { width: 66.666666%; }

    .m-quarter { width: 25%; }
    .m-three-quarters { width: 75%; }

    .hide-m-and-below { display: none; visibility: hidden; }
    .show-m-and-below { display: block; visibility: visible; }   
}

@media (max-width: 45em) and (min-width: 30em) {
    .hide-on-m { display: none; visibility: hidden; }
    .show-on-m { display: block; visibility: visible; }
}

/* S stands for small. S styles get triggered at 30em, ie, 480px */

@media (max-width: 30em) {
    .sympl { width: 100%; }
    
    .s-full { width: 100%; }

    .s-half, .s-twoquarters { width: 50%; }

    .s-onethird { width: 33.333333%; }
    .s-twothirds { width: 66.666666%; }

    .hide-on-s { display: none; visibility: hidden; }
    .show-on-s { display: block; visibility: visible; }
}



/*** =FORMS ***/

input, textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
}

input:focus, textarea:focus {

}

input[type='button'], input[type='submit'], button, .button {
  border: none;
  background: transparent; 
  line-height: 1;
  cursor: pointer;
}

input[type='button']:hover, input[type='submit']:hover, button:hover, .button:hover {
  box-shadow: inset 0 0 10em hsla(0, 0%, 0%, .1);
}

input[type='button']:focus, input[type='submit']:focus, button:focus, .button:focus, 
input[type='button']:active, input[type='submit']:active, button:active, .button:active {
  box-shadow: inset 0 0 10em hsla(0, 0%, 0%, .2);
}






/* ==========================================================================
   =MAIN
   ========================================================================== */

.main-section {
  padding: 1.5em 0 3em;

  &:nth-child(odd) {
    background: $alternateSectionBg;

    .section__title {
      > span {
        background: $alternateSectionBg;
      }
      &:before, &:after {
        border-top-color: $tertiaryColor-darker;
      }
    }

  }
}

.section__title {
  text-align: center;
  color: $lightTextColor;
  margin-bottom: (3em/1.5);
  position: relative;

  > span {
    background: $tertiaryColor;
    position: relative;
    z-index: 2;
    padding: 0 .5em;
  }

  &:before, &:after {
    content: ' ';
    position: absolute;
    border-top: thin solid $tertiaryColor-dark;
    width: 50%;
    left: 0;
    top: 50%;
    margin-top: -1px;
  }

  &:after {
    right: 0;
    left: auto;
  }
}





/* ==========================================================================
   =MASTHEAD
   ========================================================================== */

.masthead {
  background: $secColor;
  overflow: hidden;
  height: 4em;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  .wrap {
    overflow: hidden;
    position: relative;
  }
}

.main-logo {
  display: inline-block;
  height: 2em;
  width: 2em;
  float: left;
  border: none;
  padding: 1em 0;

  img {
    display: block;
    padding: 0;
    opacity: .5;
    max-width: 100%;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  
    &:hover {
      opacity: 1;
    }
  }
}

.main-nav {
  float: right;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
  }
  
  li {
    display: inline-block;
  }
}


a.main-nav__item {
  padding: 1.5em;
  line-height: 1;
  display: block;
  color: mix($secColor, white);
  border-bottom: none;
  border-top: thin solid $primColor;
  margin-top: -1px;
  -webkit-text-stroke: .25px;

  &:hover {
    border-top-width: .2em;
    padding-top: 1.35em;
    color: #fff;
  }
}


.main-nav__toggle-btn {
  font-size: 1.5em;
  padding: .825em;
  line-height: 1;
  color: mix($secColor, white);
  cursor: pointer;
  display: inline-block;
  background: darken($secColor, 8%);

  position: absolute;
  right: 0;
  top: 0;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  display: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  i {
    display: block;
  }

  &:hover {
    color: $primColor;
  }
}



/* ==========================================================================
   =HERO
   ========================================================================== */

.hero {
  line-height: 1.5;
  font-family: $primFontFamily;
  font-weight: 400;
  color: mix($secColor, #999);
  padding: 4.5em 0 7.5em;
  font-family: $secFontFamily;
  font-weight: 300;

  .hero-container {
    font-size: 1.75em;

    > p {
      -webkit-text-stroke: .15px;
    }
  }

  h1 {
    font-size: 1em;
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
    display: inline;
  }

  em {
    font-style: normal;
  }

  p {
    margin: 0 0 (.75em/1.5);
  }

  a {
    color: $primColor;
    border-bottom: thin solid rgba($tertiaryColor-darker, 0);

    &:hover {
      border-bottom-color: darken($tertiaryColor-darker, 5%);
    }
  }
}

.hero__impline {
  font-size: (2em/1.5);
  margin: 0 0 (1em/1.333333);
  color: $secColor;
  font-family: $primFontFamily;
}

.hero .hero-cta {
  font-family: $primFontFamily;
  margin-top: 1em;
  color: $secColor;
  -webkit-text-stroke: .3px;
}



/* ==========================================================================
   =PROCESS
   ========================================================================== */

$processMainWidth: 10em;

.process__item {
  overflow: hidden;
  position: relative;
  margin: 0 0 1.5em;
  padding: 0 0 2em;
  font-size: 1.25em;
  color: lighten($mainTextColor, 5%);

  h1 {
    margin: 0 0 .5em;
    color: $secColor;
    > span {
      color: $lightTextColor;
    }
  }

  p {
    margin-bottom: .75em;
    -webkit-text-stroke: .23px;
    + p {
      margin: 0;
    }
  }

  &:nth-child(odd) {
    .process__item__icon {
      position: absolute;
      float: right;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .process__item__desc {
      margin: 0 ($processMainWidth + 3em) 0 0;
      float: left;
    }
  }
}

.process__item:nth-child(2) {
  .process__item__desc {
    padding-bottom: .5em;
  }
}

.process__item__icon {
  font-size: ($processMainWidth);
  width: 1em;
  float: left;
  max-width: 1em;
  overflow: hidden;
  color: $lightTextColor;

  i {
    display: block;
    line-height: 1;
  }
}

.process__item__desc {
  margin-left: ($processMainWidth + 3em);
  vertical-align: middle;
  font-weight: 300;
  padding-bottom: 2em;
}





/* ==========================================================================
   =WORK
   ========================================================================== */

$workBorderColor: darken($tertiaryColor-darker, 5%);
$workImageBorderColor: rgba(darken($tertiaryColor, 40%), .4);

.work__item {
  margin-bottom: 3em;
  border-bottom: thin solid $workBorderColor;
  padding-bottom: 3em;
  p + p {
    margin: .5em 0 0;
  }

  a {
    border-bottom: none;
    color: $primColor;
  }
  &:last-child {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
}

.work__item__img {
  border: none;
  position: relative;
  display: block;
  overflow: hidden;
  height: 0;
  padding-bottom: 75%;

  img {
    display: block;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: .25em solid $workImageBorderColor;
  }
}

.work__item__title {
  color: $darkerTextColor;
  margin: 0;
  border-bottom: thin solid $workBorderColor;
  -webkit-text-stroke: .3px;
}


.work__item__meta  {
  display: inline-block;
  padding: (.2em/.875) (.5em/.875) (.25em/.875);
  background: $tertiaryColor-darker;
  margin: 0 0 (1em/.875);
  font-size: .875em;

  > span {
    vertical-align: middle;
    color: darken($lightTextColor, 20%);
    display: inline-block;
  }

  img {
    width: 1.5em;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .5em;
    vertical-align: middle;
  }
}

.work__item__meta__client {
  display: inline-block;
  vertical-align: middle;

  span {
    vertical-align: middle;
  }

  &:before {
    border-left: thin solid darken($workBorderColor, 5%);
    content: 'Client:';
    color: $lightTextColor;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 .5em;
    padding: 0 0 0 .5em;
  }
}

.work__item__quote {
  -webkit-text-stroke: .25px;
  margin: 0 0 (.75em/1.125);
  padding: 0 0 (.75em/1.125);
  font-size: 1.125em;
  font-weight: 400;
  border-bottom: thin solid $tertiaryColor-darker;
  color: mix($mainTextColor, $secColor);

  p {
    quotes: "“" "”" "‘" "’";

    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
}




/* ==========================================================================
   =CONTACT
   ========================================================================== */

.contact-box {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  color: mix($secColor, #999);

  p {
    margin: 0 0 .5em;
  }

  strong {
    font-weight: 400;
  }
}

.email-pseudolink {
  color: $primColor;

  span {
    color: mix($primColor, $tertiaryColor);
  }
}

.contact__social {
  margin: 2em 0;

  p {
    margin-bottom: 1em;
  }

  a {
    font-size: 2.5em;
    margin: 0 -.25em;
    border: none;
    color: $lightTextColor;
    width: 3em;
    display: inline-block;

    span {
      font-size: .25em;
      text-align: center;
      display: block;
      position: relative;
      top: 1em;
      opacity: 0;

      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    &:hover {
      color: $primColor;

      span {
        top: -.5em;
        opacity: 1;
        color: $primColor;
      }
    }
  }

  .icon-google-plus {
    margin-right: -.15em;
  }
}




/* ==========================================================================
   =COLOPHON
   ========================================================================== */

.colophon {
  font-family: $primFontFamily;
  background: $secColor;
  color: mix($secColor, white);
  text-align: center;
  padding: 2em 0;
  font-size: .75em;

  span {
    color: $primColor;
  }
}






/* ==========================================================================
   =ANIMATION
   ========================================================================== */

@mixin translate3d($x: 0, $y: 0, $z: 0) {
  -webkit-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}

@mixin transition($property: all, $duration: .6s, $ease: ease, $delay: 0s) {
  -webkit-transition: $property $duration $ease $delay;
  -moz-transition: $property $duration $ease $delay;
  -ms-transition: $property $duration $ease $delay;
  -o-transition: $property $duration $ease $delay;
  transition: $property $duration $ease $delay;
}

@media (min-width: 800px) {

.transition {
  @include transition;
}

.from-top {
  @include translate3d(0, -1em, 0);
}

.from-bottom {
  @include translate3d(0, 1em, 0);
}

.no-show {
  opacity: 0;
}


.js { /* Hidden */
  .hero-container * {
    @extend .no-show;
    @include translate3d(0, -1.5em, 0);
    @extend .transition;
  }

  /* Work Item */
  .work__item {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
  }
  .work__item__img {
    @extend .no-show;
    @include translate3d(-3em, 0, 0);
    @extend .transition;
  }
  .work__item__title {
    @extend .no-show;
    @extend .from-top;
    @extend .transition;
  }
  .work__item__meta {
    @extend .no-show;
    @extend .transition;
    @include translate3d(2em, 0, 0);
  }
  .work__item__quote {
    @extend .no-show;
    @extend .transition;
  }
  .work__desc__text-container {
    @include transition(all, .6s, ease, .5s);
    @extend .from-bottom;
    @extend .no-show;
  }


  /* Process Item */
  .process__item__icon {
    @include translate3d(0, -.5em, 0);
    @extend .no-show;
    @extend .transition;
  }

  .process__item__desc {
    @extend .no-show;
    @extend .transition;
    @include translate3d(3em, 0, 0);
    h1 {
      @include translate3d(1.5em, 0, 0);
      @extend .transition;
    }
  }

  /* Contact */
  .contact-box {
    @extend .no-show;
    @extend .transition;
    @extend .from-top;
  }

}
}

.remTranslate {
  opacity: 1;
  @include translate3d;
}

.js.appeared {
  .hero-container * {
    @extend .remTranslate;
  }
}

.js { /* Appeared */

  /* Work Item */
  .work__item--show {
    .work__item__img {
      @extend .remTranslate;
    }
    .work__item__title {
      @extend .remTranslate;
    }
    .work__item__meta {
      @extend .remTranslate;
    }
    .work__item__quote {
      opacity: 1;
    }
    .work__desc__text-container {
      @extend .remTranslate;
    }
  }

  /* Process Item */
  .process__item--show {
    .process__item__icon {
      @extend .remTranslate;
    }
    .process__item__desc {
      @extend .remTranslate;

      h1 {
        @extend .remTranslate;
      }
    }
  }


  /* Contact Box */

  .contact-box--show {
    @extend .remTranslate;
  }
}





/* ==========================================================================
   =RESPONSIVENESS
   ========================================================================== */

@media (max-width: 70em) {
  .work__desc__text-container {
    width: 100%;
    margin-top: 1.5em;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 45em) {

  .hero {
    padding: 3em 0 4.5em;
    .hero-container {
      font-size: 1.5em;
    }
  }

  /* Work */
  .work__item__title {
    margin: 1.5em 0 0;
  }

  .work__item__quote {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: (-.75em/1.25);
  }

  .work__item__text--self {
    margin-bottom: -1.5em;
  }

  /* Process */
  .process__item {
    font-size: 1em;
  }

  .process__item__desc {
    font-weight: 400;
  }

  /* Contact */
  .contact__social a {
    font-size: 2em;
    span {
      font-size: .75em/2;
    }
  }
}

@media (max-width: 37.5em) {
  /* Nav */
  a.main-nav__item {
    padding: 1.5em 1em;
  }
  
  /* Hero */
  .hero-container {
    font-size: 1.5em;
  }
  
  /* Process */
  .process__item {
    padding: 0 0 3em;
    margin: 0 0 3em;
    border-bottom: thin solid lighten($workBorderColor, 7%);

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  .process__item__icon {
    display: block;
    width: 100%;
    float: none;
    max-width: 100%;
    text-align: center;
    position: static !important;
    i {
      margin: 0 auto;
    }
  }

  .process__item__desc {
    margin: 0 !important;
    padding: 1.5em 0 0 !important;

    &:nth-child(odd) {
      padding: 0 0 1.5em !important;
    }
  }
}

@media (max-width: 34em) {
  .contact__social a {
    font-size: 1.5em;
    span {
      font-size: (.5em/1.5);
    }
  }
}

@media (max-width: 30em) {
  
  /* Hero */
  .hero .hero-container {
    font-size: 1.25em;
  }

  /* Contact */

  .contact__social a {
    margin: 0 -.5em;
    font-size: 1.75em;
  }

  /* Nav */
  .main-nav__toggle-btn {
    display: block;
  }

  .main-nav ul {
    opacity: 0;
    height: 0;
    overflow: hidden;

    position: relative;
    bottom: -5em;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .masthead__nav--open {
    height: 28em;
  }

  .nav--open {
    width: 100%;
    margin: 1.5em 0;

    ul {
      display: block;
      opacity: 1;
      bottom: 0;
      height: auto;
      width: 100%;
    }

    li {
      display: block;
    }

    a.main-nav__item {
      display: block;
      width: 100%;
      border: none;
      padding: 1.5em;
      background: darken($secColor, 3%);

      border-top: thin solid $secColor;

      &:hover {
        border-top-width: thin;
        padding: 1.5em 1.5em 1.5em 2.5em;
      }
    }
  }
}

@media (max-width: 75em) and (min-width: 45em), (max-width: 32.5em) {
  .work__item__meta__client {
    display: block;
    margin-top: .25em;

    &:before {
      padding: 0;
      margin: 0;
      border: none;
    }
  }
}